<td><%= f.time_field :in_at, class: 'form-control', readonly: true %></td>
							<td><%= f.time_field :out_at, class: 'form-control', readonly: true %></td>
							<td><%= get_stay_time(params[:user_id]?params[:user_id]:params[:id], params[:year], params[:month], i) %></td>
							<td><%= f.text_field :remarks, class: 'form-control', readonly: true %></td>