<td><%= time_field(day, "in_at", value: get_in_at(day)) %></td>
<td><%= time_field(day, "out_at", value: get_out_at(day)) %></td>
<td><%= get_stay_time(params[:user_id], params[:year], params[:month], day) %></td>
<td><%= text_field(day, "remarks", value: get_remarks(day)) %></td>